<section class="hero py-16 ml-12">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Ary You Excited?</em></h6>
            <h1 class="text-6xl font-bold">Don't Wait!</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
        </div>
        <div class="w-1/2">
            <img width="500px" height="500px" src="/img/main-img.jfif" alt="main">
        </div>
    </div>
</section>

<section class="menu container  py-8 ml-12">
    <h1 class="text-xl font-bold mb-8 ml-8">All Items</h1>
    <div class="grid grid-cols-4 col-gap-12 row-gap-18 ml-16">

        <% clothes.forEach(function (cloth) { %>

            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/<%= cloth.image %>" alt="" srcset="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg"><%= cloth.name %></h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= cloth.size %></span>
                    <div class="flex items-center justify-around my-6 mr-5">
                        <span class="font-bold text-lg ml-6">$<%= cloth.price %></span>
                        <button data-cloth="<%= JSON.stringify(cloth)%>" class="add-to-cart px-6 rounded-full flex items-center font-bold add-hover">
                            <span>+</span>
                            <span class="mx-2 ">Add</span>
                        </button>
                    </div>
                </div>
            </div>


            <% }) %>



    </div>
</section>